<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Back2Work</title>
  <!--Import Google Icon Font - needed for Materialize-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- awesome fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <!-- Compiled and minified Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- Oswald font for header -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <!-- Montserrat font for body text -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <!-- Materialize icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body>
  <div>
    <header>
      <nav class="nav-wrapper">
        <div>
          <a href="/dashboard" class="brand-logo right">Your Dashboard<i class="material-icons">home</i></a>
          {{#if loggedIn}}
          <button id="logout">Logout</button>
          {{else}}
          {{!-- if not logged in, they can click dashboard, but it
          takes them to the login page --}}
          <div class="left hide-on-med-and-down"><a href="/login">Login</a></div>
          {{/if}}
        </div>
      </nav>
  </div>
   </header>
  <div>
    <div class="circular-img"><img src="/assets/office-space.jpg" alt="Office space" width="25%" height="25%"></div>
    <h1> <a href="/">BACK 2 WORK</a> </h1>
    <p class="subhead"> Meeting with your colleagues made easy.</p>
    <h3>This is main.handlebars talking</h3>
  </div>
  <main class="container">
    {{{ body }}}
  </main>
  <footer class="page-footer">
    Working together safely!
  </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

  <!--Materialize cdn & initialization -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>M.AutoInit();</script>
</body>

</html>