{{!-- to get here - 
1) User clicks ADD MEETING BUTTON (on dashboard)
2) we hit the /add-meeting route in dashboard.js 
3) /add-meeting does a res.render to add-meeting.handlebars (here)
4) THIS file loads the add-meeting.js script which
  4.a  Adds an event listner to the 
        add-meeting-form SUBMIT button to call
        newFormHandler in this file which
  4.a.1 ON SUBMIT, Builds api call to POST the meeting
  4.a.2 On response.ok does a "replace to return to the dashboard"
  --}}



<section>
    <h2>New Meeting</h2>
    <form class="add-meeting-form">
        <div>
            <label for="meeting-title">
                Title
            </label>
            <input type="text" id="meeting-title" name="Meeting Title">
        </div>
        <div>
            <label for="meeting-topic">
                Topic
            </label>
            <input type="text" id="meeting-topic" name="Meeting Topic">
        </div>
    </form>
</section>
<script src="/javascript/add-meeting.js"></script>