{{!-- to get here -
dashboard.handlebard -> dashboard-routes.js -> add-meeting.handlebars

* ADD-MEETING.HANDLEBARS
builds the NEW-MEETING form & SUBMIT button
loads the script ADD-MEETING.JS
* ADD-MEETING.JS
Adds event listener NewMeetingHandler ()
to the ADD-MEETING.handlebars SUBMIT button
ON SUBMIT - addMeetingHandler
LOADS data from the add-meeting.handlebars form and
POSTS the info to the route: /api/meetings and if response is ok
RETURNS via document.location.replace('/dashboard');
--}}

{{!-- For date picker - move to main? --}}
<link href="//cdn.syncfusion.com/18.4.0.39/js/web/flat-azure/ej.web.all.min.css" rel="stylesheet" />


<section>
  <h2>Add Meeting</h2>
  <form class="add-meeting-form">
    <div>
      <label for="meeting-title">Title</label>
      <input type="text" id="meeting-title" name="meeting-title">
    </div>
    <div>
      <label for="meeting-topic">Topic</label>
      <input type="text" id="meeting-topic" name="meeting-topic">
    </div>
    {{!-- -------------------------------------------------------- --}}
    {{!-- syncfusion.com jQuery DATE PICKER CODE --}}
    {{!-- for info on styles, see https://help.syncfusion.com/js/datepicker/customization --}}

    <div class="container">
      <div class="content-container-fluid">
        <div class="row">
          <div class="cols-sample-area">
            <div class="frame">
              <div class="control">
                <label>Meeting Date and Time</label>
                <input type="text" id="meeting-date-time" />
                {{!-- The submit button on the form can handle this --}}
                {{!-- <button id="submitDt">Submit</button> --}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    {{!-- END DATE PICKER --}}
    {{!-- -------------------------------------------------------- --}}
    {{!-- BEGIN DROP DOWN --}}

    {{!-- <div>
      <!-- Dropdown Trigger -->
      <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Duration</a>

      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">30 mins</a></li>
        <li><a href="#!">1 hour</a></li>
        <li><a href="#!">1 hour 30 mins</a></li>
        <li><a href="#!">2 hours</a></li>
        <li><a href="#!">2 hours 30 mins</a></li>
        <li><a href="#!">3 hours</a></li>
    </div> --}}

    <button type="submit" class="btn">Create</button>
  </form>
</section>
{{!-- for date picker --}}
<script src="//cdn.syncfusion.com/js/assets/external/jquery-1.10.2.min.js"> </script>
<script src="//cdn.syncfusion.com/18.4.0.39/js/web/ej.web.all.min.js"></script>
{{!-- add-meeting handler --}}
<br>
<script src="/javascript/add-meeting.js"></script>