<section>
    <h2>New Meeting</h2>
    <form class="add-meeting-form">
        <div>
            <label for="meeting-title">
                Title
            </label>
            <input type="text" id="meeting-title" name="Meeting Title">
        </div>
        <div>
            <label for="meeting-topic">
                Topic
            </label>
            <input type="text" id="meeting-topic" name="Meeting Topic">
        </div>
    </form>
</section>
<script src="/javascript/add-meeting.js"></script>