<div>
  
  <section style="background-color: rgb(207, 174, 238);">
    <h2>Dashboard Page stub</h2>
    <div >
      <h3>Some of the things we might do here are</h3>
      <ol>
        <li> interact with other employees</li>
      </ol>
    </div>
  </section>
</div>
