{{!-- 
  DISPLAYS each blog post
  CALLED BY
    controllers/home-routes.js
    res.render('homepage', {
        posts,
        loggedIn: req.session.loggedIn
      }); 
  CALLS
    post-info.post 
  --}}
<div>
  <h2> Welcome to Back2Work</h2>
  <p>If you are a current user please login.</p> 
  <p>New users please sign up!</p>
  <ul>
    <li>Use this app to:</li>
      <li>schedule meetings and add invitees</li> 
      <li>Check your scheduled meetings</li>
      <li>TBD!</li>
    </ul>
  </div>

</div>