{{!-- CALLED BY
    controllers/home-routes.js
    loggedIn indicates the user's req.session status
  --}}

<div class="row">
  <div class="col l6 m12 s12" >
    <img id="homepage-img" src="/assets/office-space.jpg" alt="Office space" < />
  </div>

  <div class="col l6 m12 s12"><span class="flow-text">
      <h4> Welcome to Back2Work</h4>

      <p>If you are a current user please login. You will find upcoming meetings in Your Dashboard.</p>
      <p>New users, please sign up to start scheduling meetings!</p>
      <p>Use this app to:</p>
      <li>Schedule meetings and add invitees</li>
      <li>Check your scheduled meetings</li>
      <li>TBD!</li>
    </span>
  </div>
</div>