{{!-- 
  DISPLAYS each blog post
  CALLED BY
    controllers/home-routes.js
    res.render('homepage', {
        posts,
        loggedIn: req.session.loggedIn
      }); 
  CALLS
    post-info.post 
  --}}
<div>
  <h2> This is homepage.handlebars</h2>
  <p>it's accessed from main.handlebars, although right now for no reason</p> 
  <p>what things might go here?</p>
  <ul>
    <li>login</li> 
    <li>Announcements?</li>
    <li>TBD!</li>
    </ul>
  </div>

</div>