<form class="signup-form">
  <div>
    <label for="firstname">First name:</label>
    <input type="text" id="first-name-signup" />
  </div>
   <div>
    <label for="lastname">Last name:</label>
    <input type="text" id="last-name-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button class="btn waves-effect waves-light" type="submit">Signup</button>
  </div>
  <br>
  <div>
    <a class="btn waves-effect waves-light" href="/login">Login</a>
  </div>
  <br>
</form>

<script src="/javascript/signup.js"></script>