<form class="signup-form">
  <div>
    <label for="firstname">First name:</label>
    <input type="text" id="first-name" />
  </div>
   <div>
    <label for="lastname">Last name:</label>
    <input type="text" id="last-name" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">Signup</button>
  </div>
  <div>
    <a href="/login">Or login instead.</a>
  </div>
</form>

<script src="/javascript/signup.js"></script>