:root{
--link-color: #225ca3;
--hover-color:#3486eb;
--bg-color:#ccc;
/* --highlight-color: #a4e77e; */
--highlight-color: #a4e77e;
--main-bg-color:#ffffff;
--alt-bg-color: #dffdd3;
--warning-color: #d41414;
--warning-hover-color: #ff643d;
--basic-white: white;
--dark-gray: #333;
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: var(--dark-gray);
}

/* Link styles */
a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: var(--hover-color);
}

/* Regular button styles */
button {
  background-color: var(--link-color);
  border: 0;
  padding: 1%;
  color: var(--basic-white);
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--hover-color);
}



textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid var(--bg-color);
}

/* puts a blue box around text area when clicked */
textarea:focus, input:focus {
  outline: none;
  border: 1px solid var(--hover-color);
}
/* the comment text area on a post */
textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper header{
  width: 100%;
  height: 100%;
  padding: 0 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--highlight-color);
  border-bottom: 1px solid var(--bg-color);
}

header h1 {
  font-size: 2em;
  padding-left:25px;
}

nav {
  display:flex;
  padding-top:10px;
  gap:25px;
}

/* main.handlebars - body */
main {
  width:100%;
  padding: 2% 4%;
  background-color:var(--alt-bg-color);
}

.post {
  width: 100%;
  margin-bottom: 2%;
  line-height: 150%;
  border: 5px solid var(--highlight-color);
  ;
}

.post-heading {
  display:flex;
  flex-wrap: wrap;
  gap: 2%;
  background-color: var(--highlight-color);
}
.post-body {
  width: 90%;
}
/* logout "button" on nav*/
.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
  margin-right: 16px;
}

.btn-no-style:hover {
  background: none;
  color: var(--hover-color);
}

.delete-post-btn {
  background-color: var(--warning-color);
}

.delete-post-btn:hover {
  background-color: var(--warning-hover-color);
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: var(--alt-bg-color);
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}


.post .meta {
  font-size: 90%;
  /* margin-bottom: .5%; */
  margin: 0;
  padding: 0;  
  opacity: .8;
}

/* determines new post title and content input  */
.new-post-form input {
  width: 300px;
  /* min-height:300px; */
}
/* override to make bigger post input box */
/* .post-textarea {
  width: 300px;
  min-height:200px;
} */


.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  /* background-color: var(--highlight-color); */
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
