:root{
--link-color: #225ca3;
--hover-color:#3486eb;
--bg-color:#ccc;
--highlight-color: #a4e77e;
/* --highlight-color: #657a2a; */
--main-bg-color:#ffffff;
--alt-bg-color: #dffdd3;
--warning-color: #d41414;
--warning-hover-color: #ff643d;
--basic-white: white;
--dark-gray: #333;
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: var(--dark-gray);
}
